# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [1]:
# your code here
import requests 
import json
import pandas as pd
import urllib3

# Game of thrones API
cdmx_metro = requests.get('https://datos.cdmx.gob.mx/api/datasets/1.0/search/', 
                    params = {'q':'afluencia diaria'})

In [2]:
cdmx_metro

In [3]:
cdmx_metro.json().keys()

dict_keys(['nhits', 'parameters', 'datasets'])

In [4]:
cdmx_metro.json()['datasets']

[{'datasetid': 'afluencia-preliminar-en-transporte-publico',
  'metas': {'frecuencia-de-actualizacion': 'semanal',
   'domain': 'lab-cdmx',
   'version': '1.0',
   'records_count': 8280,
   'modified': '2020-10-16T18:16:02+00:00',
   'dataset-agregado': False,
   'keyword': ['transporte público',
    'afluencia',
    'metro ',
    'metrobús',
    'tren ligero',
    'trolebus',
    'ecobici',
    'RTP',
    'covid-19',
    'covid19',
    'coronavirus '],
   'geographic_reference': ['mx_40_09'],
   'title': 'Afluencia preliminar en transporte público',
   'theme': ['Movilidad', 'Covid-19'],
   'modified_updates_on_data_change': True,
   'metadata_processed': '2020-10-16T18:16:03.032776+00:00',
   'data_processed': '2020-10-16T18:16:02+00:00',
   'territory': ['Ciudad de México'],
   'description': '<p><span style=\'color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;\'>Esta base de datos contiene <b>los datos preliminares de la afluencia diaria de pasajeros en el transporte público en la Ciudad de México</b>, reportados por los siguientes organismos: Sistema de Transporte Colectivo Metro (STC), Metrobus, Red de Transporte de Pasajeros (RTP), Sistema de Transporte Eléctrico Tren Ligero (STP-Tren Ligero),\xa0</span><span style=\'color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;\'>Sistema de Transporte Eléctrico</span><span style=\'color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;\'>\xa0Trolebus (STP-Trolebus) y Ecobici.</span></p><p><span style=\'color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;\'>Esta base de datos tiene fines informativos sobre el comportamiento de la movilidad durante la emergencia sanitaria por COVID-19. Sin embargo<b> no son los datos definitivos. </b>Los datos definitivos son validados por los organismos de transporte público de la CDMX mediante un proceso de consolidación mensual de bases de datos. <br/></span></p><p><span style=\'color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;\'>En este link puedes revisar las base con valores validados:\xa0</span></p><p><span style=\'color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;\'>1.\xa0</span><a href="https://datos.cdmx.gob.mx/explore/dataset/afluencia-diaria-del-metro-cdmx/table/?sort=-fecha" target="_blank">Metro</a></p><p><span style=\'color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;\'>2.\xa0</span><a href="https://datos.cdmx.gob.mx/explore/dataset/afluencia-diaria-de-metrobus-cdmx/table/" target="_blank">Metrobús</a></p>',
   'modified_updates_on_metadata_change': True,
   'visibility': 'domain',
   'geographic_reference_auto': True,
   'publisher': 'Secretaría de Movilidad',
   'license': 'CC BY',
   'language': 'es',
   'staged': False,
   'metadata_languages': ['es'],
   'federated': False,
   'license_url': 'https://creativecommons.org/licenses/by/4.0/'},
  'has_records': True,
  'data_visible': True,
  'features': ['analyze', 'timeserie'],
  'attachments': [],
  'alternative_exports': [],
  'fields': [{'label': 'FECHA',
    'type': 'date',
    'annotations': [{'name': 'facet'},
     {'args': ['day'], 'name': 'timeserie_precision'},
     {'name': 'timerangeFilter'}],
    'name': 'fecha'},
   {'type': 'text', 'name': 'dia_mes_', 'label': 'DÍA MES'},
   {'type': 'text', 'name': 'dia', 'label': 'DÍA SEMANA'},
   {'label': 'MES',
    'type': 'date',
    'annotations': [{'name': 'facet'},
     {'args': ['-count'], 'name': 'facetsort'},
     {'args': ['month'], 'name': 'timeserie_precision'}],
    'name': 'mes'},
   {'label': 'AÑO',
    'type': 'text',
    'annotations': [{'args': ['-count'], 'name': 'facetsort'}],
    'name': 'ano'},
   {'label': 'ORGANISMO',
    'type': 'text',
    'annotations': [{'name': 'facet'}],
    'name': 'organismo'},
   {'label': 'LINEA/SERVICIO',
    'type': 'text',
    'annotations': [{'name': 'facet'}],
    'name': 'linea_servicio'},
   {'type': 'text', 'name': 'afluencia_tarjeta', 'label': 'AFLUENCIA TARJETA'},
   {'type': 'text', 'name': 'afluencia_boleto', 'label': 'AFLUENCIA BOLETO'},
   {'type': 'double',
    'name': 'afluencia_total_cifras_preliminares',
    'label': 'AFLUENCIA TOTAL\n(cifras preliminares)'}]},
 {'datasetid': 'afluencia-diaria-del-metro-cdmx',
  'metas': {'domain': 'lab-cdmx',
   'records_count': 753675,
   'modified': '2019-12-05T22:16:43+00:00',
   'dataset-agregado': False,
   'keyword': ['metro ',
    'afluencia',
    'transporte público',
    'transporte',
    'STCM',
    '#Dataton'],
   'geographic_reference': ['mx_40_09'],
   'title': 'Afluencia diaria del Metro CDMX',
   'theme': ['Movilidad'],
   'modified_updates_on_data_change': False,
   'metadata_processed': '2020-10-19T21:44:30.381277+00:00',
   'data_processed': '2020-10-19T21:44:29+00:00',
   'territory': ['Ciudad de México'],
   'description': '<p>Esta base muestra la afluencia diaria del Metro CDMX. Los datos abarcan de enero de 2010 a febrero de 2020. Esta base se actualizará mensualmente.\xa0</p><p><br/></p><p>Para ver los datos preliminares durante la emergencia covid-19 revisa\xa0<a href="https://datos.cdmx.gob.mx/explore/dataset/afluencia-preliminar-en-transporte-publico/table/" target="_blank">esta base.</a>\xa0Una vez que estos datos sean validados por el STC Metro, aparecerán en este conjunto de datos.\xa0</p>',
   'modified_updates_on_metadata_change': False,
   'visibility': 'domain',
   'geographic_reference_auto': True,
   'publisher': 'Secretaría de Movilidad',
   'license': 'CC BY',
   'language': 'es',
   'staged': False,
   'metadata_languages': ['es'],
   'federated': False,
   'license_url': 'https://creativecommons.org/licenses/by/4.0/'},
  'has_records': True,
  'data_visible': True,
  'features': ['analyze', 'timeserie'],
  'attachments': [],
  'alternative_exports': [],
  'fields': [{'label': 'Fecha',
    'type': 'date',
    'annotations': [{'args': ['-count'], 'name': 'facetsort'},
     {'args': ['day'], 'name': 'timeserie_precision'},
     {'name': 'facet'}],
    'name': 'fecha'},
   {'type': 'text', 'name': 'dia', 'label': 'Día'},
   {'type': 'text', 'name': 'mes', 'label': 'Mes'},
   {'label': 'Año',
    'type': 'text',
    'annotations': [{'name': 'facet'},
     {'args': ['-count'], 'name': 'facetsort'}],
    'name': 'ano'},
   {'label': 'Linea',
    'type': 'text',
    'annotations': [{'name': 'facet'}],
    'name': 'linea'},
   {'label': 'Estacion',
    'type': 'text',
    'annotations': [{'name': 'facet'}],
    'name': 'estacion'},
   {'label': 'Afluencia',
    'type': 'int',
    'annotations': [{'args': ['-count'], 'name': 'facetsort'}],
    'name': 'afluencia'}]},
 {'datasetid': 'afluencia-diaria-de-metrobus-cdmx',
  'metas': {'modified_updates_on_metadata_change': False,
   'domain': 'lab-cdmx',
   'description': '<p><span style="color: rgb(115, 115, 115); font-family: Metropolis, sans-serif; font-size: 14px;">Esta base muestra la afluencia diaria por línea del Metrobús CDMX. Los datos abarcan de julio de 2005 a abril de 2020.\xa0</span><br/></p>',
   'language': 'es',
   'title': 'Afluencia diaria de Metrobús CDMX',
   'records_count': 38395,
   'staged': False,
   'metadata_languages': ['es'],
   'visibility': 'domain',
   'modified': '2019-12-19T19:02:13+00:00',
   'theme': ['Movilidad'],
   'federated': False,
   'metadata_processed': '2020-09-08T18:06:16.490908+00:00',
   'keyword': ['metrobús', 'afluencia', 'transporte', 'transporte público'],
   'geographic_reference_auto': True,
   'geographic_reference': ['mx_40_09'],
   'territory': ['Ciudad de México'],
   'data_processed': '2020-09-08T18:06:15+00:00',
   'modified_updates_on_data_change': False},
  'has_records': True,
  'data_visible': True,
  'features': ['analyze', 'timeserie'],
  'attachments': [],
  'alternative_exports': [],
  'fields': [{'label': 'Fecha',
    'type': 'date',
    'annotations': [{'args': ['-count'], 'name': 'facetsort'},
     {'args': ['day'], 'name': 'timeserie_precision'}],
    'name': 'fecha'},
   {'label': 'Año',
    'type': 'int',
    'annotations': [{'name': 'facet'},
     {'args': ['-count'], 'name': 'facetsort'}],
    'name': 'ano'},
   {'label': 'Mes',
    'type': 'text',
    'annotations': [{'name': 'facet'},
     {'args': ['-count'], 'name': 'facetsort'}],
    'name': 'mes'},
   {'label': 'Linea',
    'type': 'text',
    'annotations': [{'name': 'facet'}],
    'name': 'linea'},
   {'type': 'int', 'name': 'afluencia', 'label': 'Afluencia'}]}]

In [5]:
for i in cdmx_metro.json()['datasets']:
    print(i['datasetid'])

afluencia-preliminar-en-transporte-publico
afluencia-diaria-del-metro-cdmx
afluencia-diaria-de-metrobus-cdmx

In [6]:
cdmx_metro.json()['datasets'][1]

{'datasetid': 'afluencia-diaria-del-metro-cdmx',
 'metas': {'domain': 'lab-cdmx',
  'records_count': 753675,
  'modified': '2019-12-05T22:16:43+00:00',
  'dataset-agregado': False,
  'keyword': ['metro ',
   'afluencia',
   'transporte público',
   'transporte',
   'STCM',
   '#Dataton'],
  'geographic_reference': ['mx_40_09'],
  'title': 'Afluencia diaria del Metro CDMX',
  'theme': ['Movilidad'],
  'modified_updates_on_data_change': False,
  'metadata_processed': '2020-10-19T21:44:30.381277+00:00',
  'data_processed': '2020-10-19T21:44:29+00:00',
  'territory': ['Ciudad de México'],
  'description': '<p>Esta base muestra la afluencia diaria del Metro CDMX. Los datos abarcan de enero de 2010 a febrero de 2020. Esta base se actualizará mensualmente.\xa0</p><p><br/></p><p>Para ver los datos preliminares durante la emergencia covid-19 revisa\xa0<a href="https://datos.cdmx.gob.mx/explore/dataset/afluencia-preliminar-en-transporte-publico/table/" target="_blank">esta base.</a>\xa0Una vez que estos datos sean validados por el STC Metro, aparecerán en este conjunto de datos.\xa0</p>',
  'modified_updates_on_metadata_change': False,
  'visibility': 'domain',
  'geographic_reference_auto': True,
  'publisher': 'Secretaría de Movilidad',
  'license': 'CC BY',
  'language': 'es',
  'staged': False,
  'metadata_languages': ['es'],
  'federated': False,
  'license_url': 'https://creativecommons.org/licenses/by/4.0/'},
 'has_records': True,
 'data_visible': True,
 'features': ['analyze', 'timeserie'],
 'attachments': [],
 'alternative_exports': [],
 'fields': [{'label': 'Fecha',
   'type': 'date',
   'annotations': [{'args': ['-count'], 'name': 'facetsort'},
    {'args': ['day'], 'name': 'timeserie_precision'},
    {'name': 'facet'}],
   'name': 'fecha'},
  {'type': 'text', 'name': 'dia', 'label': 'Día'},
  {'type': 'text', 'name': 'mes', 'label': 'Mes'},
  {'label': 'Año',
   'type': 'text',
   'annotations': [{'name': 'facet'},
    {'args': ['-count'], 'name': 'facetsort'}],
   'name': 'ano'},
  {'label': 'Linea',
   'type': 'text',
   'annotations': [{'name': 'facet'}],
   'name': 'linea'},
  {'label': 'Estacion',
   'type': 'text',
   'annotations': [{'name': 'facet'}],
   'name': 'estacion'},
  {'label': 'Afluencia',
   'type': 'int',
   'annotations': [{'args': ['-count'], 'name': 'facetsort'}],
   'name': 'afluencia'}]}

In [7]:
url_metro = 'https://datos.cdmx.gob.mx/api/datasets/1.0/afluencia-diaria-del-metro-cdmx/'

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [8]:
# your code here
import requests 
import json
import pandas as pd
import urllib3
# from pandas.io.json import json_normalize

In [26]:
resp_metro =  requests.get('https://datos.cdmx.gob.mx/api/records/1.0/search/?dataset=afluencia-diaria-del-metro-cdmx&q=&rows=10000&facet=fecha&facet=ano&facet=linea&facet=estacion')

In [27]:
resp_metro

In [28]:
resp_metro_j = resp_metro.json()

In [46]:
resp_metro_j['facet_groups'][2]

{'facets': [{'count': 15460,
   'path': 'Pantitlán',
   'state': 'displayed',
   'name': 'Pantitlán'},
  {'count': 11595,
   'path': 'Chabacano',
   'state': 'displayed',
   'name': 'Chabacano'},
  {'count': 11595,
   'path': 'Tacubaya',
   'state': 'displayed',
   'name': 'Tacubaya'},
  {'count': 7730,
   'path': 'Atlalilco',
   'state': 'displayed',
   'name': 'Atlalilco'},
  {'count': 7730,
   'path': 'Balderas',
   'state': 'displayed',
   'name': 'Balderas'},
  {'count': 7730,
   'path': 'Bellas Artes',
   'state': 'displayed',
   'name': 'Bellas Artes'},
  {'count': 7730,
   'path': 'Candelaria',
   'state': 'displayed',
   'name': 'Candelaria'},
  {'count': 7730,
   'path': 'Centro Médico',
   'state': 'displayed',
   'name': 'Centro Médico'},
  {'count': 7730,
   'path': 'Consulado',
   'state': 'displayed',
   'name': 'Consulado'},
  {'count': 7730,
   'path': 'Deptvo. 18 de Marzo',
   'state': 'displayed',
   'name': 'Deptvo. 18 de Marzo'},
  {'count': 7730,
   'path': 'El Rosario',
   'state': 'displayed',
   'name': 'El Rosario'},
  {'count': 7730, 'path': 'Ermita', 'state': 'displayed', 'name': 'Ermita'},
  {'count': 7730,
   'path': 'Garibaldi',
   'state': 'displayed',
   'name': 'Garibaldi'},
  {'count': 7730,
   'path': 'Guerrero',
   'state': 'displayed',
   'name': 'Guerrero'},
  {'count': 7730, 'path': 'Hidalgo', 'state': 'displayed', 'name': 'Hidalgo'},
  {'count': 7730,
   'path': 'Inst. del Petróleo',
   'state': 'displayed',
   'name': 'Inst. del Petróleo'},
  {'count': 7730, 'path': 'Jamaica', 'state': 'displayed', 'name': 'Jamaica'},
  {'count': 7730, 'path': 'La Raza', 'state': 'displayed', 'name': 'La Raza'},
  {'count': 7730,
   'path': 'Martín Carrera',
   'state': 'displayed',
   'name': 'Martín Carrera'},
  {'count': 7730, 'path': 'Mixcoac', 'state': 'displayed', 'name': 'Mixcoac'},
  {'count': 7730, 'path': 'Morelos', 'state': 'displayed', 'name': 'Morelos'},
  {'count': 7730, 'path': 'Oceanía', 'state': 'displayed', 'name': 'Oceanía'},
  {'count': 7730,
   'path': 'Pino Suárez',
   'state': 'displayed',
   'name': 'Pino Suárez'},
  {'count': 7730,
   'path': 'Salto del Agua',
   'state': 'displayed',
   'name': 'Salto del Agua'},
  {'count': 7730,
   'path': 'San Lázaro',
   'state': 'displayed',
   'name': 'San Lázaro'},
  {'count': 7730,
   'path': 'Santa Anita',
   'state': 'displayed',
   'name': 'Santa Anita'},
  {'count': 7730, 'path': 'Tacuba', 'state': 'displayed', 'name': 'Tacuba'},
  {'count': 7730, 'path': 'Zapata', 'state': 'displayed', 'name': 'Zapata'},
  {'count': 3865,
   'path': '20 de Noviembre',
   'state': 'displayed',
   'name': '20 de Noviembre'},
  {'count': 3865,
   'path': 'Acatitla',
   'state': 'displayed',
   'name': 'Acatitla'},
  {'count': 3865, 'path': 'Aculco', 'state': 'displayed', 'name': 'Aculco'},
  {'count': 3865,
   'path': 'Agrícola Oriental',
   'state': 'displayed',
   'name': 'Agrícola Oriental'},
  {'count': 3865, 'path': 'Allende', 'state': 'displayed', 'name': 'Allende'},
  {'count': 3865,
   'path': 'Apatlaco',
   'state': 'displayed',
   'name': 'Apatlaco'},
  {'count': 3865,
   'path': 'Aquiles Serdán',
   'state': 'displayed',
   'name': 'Aquiles Serdán'},
  {'count': 3865, 'path': 'Aragón', 'state': 'displayed', 'name': 'Aragón'},
  {'count': 3865,
   'path': 'Auditorio',
   'state': 'displayed',
   'name': 'Auditorio'},
  {'count': 3865,
   'path': 'Autobuses del Norte',
   'state': 'displayed',
   'name': 'Autobuses del Norte'},
  {'count': 3865,
   'path': 'Azcapotzalco',
   'state': 'displayed',
   'name': 'Azcapotzalco'},
  {'count': 3865,
   'path': 'Balbuena',
   'state': 'displayed',
   'name': 'Balbuena'},
  {'count': 3865,
   'path': 'Barranca del Muerto',
   'state': 'displayed',
   'name': 'Barranca del Muerto'},
  {'count': 3865,
   'path': 'Blvd. Puerto Aéreo',
   'state': 'displayed',
   'name': 'Blvd. Puerto Aéreo'},
  {'count': 3865,
   'path': 'Bondojito',
   'state': 'displayed',
   'name': 'Bondojito'},
  {'count': 3865,
   'path': 'Bosque de Aragón',
   'state': 'displayed',
   'name': 'Bosque de Aragón'},
  {'count': 3865,
   'path': 'Buenavista',
   'state': 'displayed',
   'name': 'Buenavista'},
  {'count': 3865,
   'path': 'Calle 11',
   'state': 'displayed',
   'name': 'Calle 11'},
  {'count': 3865,
   'path': 'Camarones',
   'state': 'displayed',
   'name': 'Camarones'},
  {'count': 3865,
   'path': 'Canal de San Juan',
   'state': 'displayed',
   'name': 'Canal de San Juan'},
  {'count': 3865,
   'path': 'Canal del Norte',
   'state': 'displayed',
   'name': 'Canal del Norte'},
  {'count': 3865,
   'path': 'Cerro de la Estrella',
   'state': 'displayed',
   'name': 'Cerro de la Estrella'},
  {'count': 3865,
   'path': 'Chapultepec',
   'state': 'displayed',
   'name': 'Chapultepec'},
  {'count': 3865,
   'path': 'Chilpancingo',
   'state': 'displayed',
   'name': 'Chilpancingo'},
  {'count': 3865,
   'path': 'Ciudad Azteca',
   'state': 'displayed',
   'name': 'Ciudad Azteca'},
  {'count': 3865,
   'path': 'Ciudad Deportiva',
   'state': 'displayed',
   'name': 'Ciudad Deportiva'},
  {'count': 3865,
   'path': 'Colegio Militar',
   'state': 'displayed',
   'name': 'Colegio Militar'},
  {'count': 3865,
   'path': 'Constitución de 1917',
   'state': 'displayed',
   'name': 'Constitución de 1917'},
  {'count': 3865,
   'path': 'Constituyentes',
   'state': 'displayed',
   'name': 'Constituyentes'},
  {'count': 3865, 'path': 'Copilco', 'state': 'displayed', 'name': 'Copilco'},
  {'count': 3865,
   'path': 'Coyoacán',
   'state': 'displayed',
   'name': 'Coyoacán'},
  {'count': 3865, 'path': 'Coyuya', 'state': 'displayed', 'name': 'Coyuya'},
  {'count': 3865,
   'path': 'Cuatro Caminos',
   'state': 'displayed',
   'name': 'Cuatro Caminos'},
  {'count': 3865,
   'path': 'Cuauhtémoc',
   'state': 'displayed',
   'name': 'Cuauhtémoc'},
  {'count': 3865,
   'path': 'Cuitláhuac',
   'state': 'displayed',
   'name': 'Cuitláhuac'},
  {'count': 3865,
   'path': 'Culhuacán',
   'state': 'displayed',
   'name': 'Culhuacán'},
  {'count': 3865,
   'path': 'Deportivo Oceanía',
   'state': 'displayed',
   'name': 'Deportivo Oceanía'},
  {'count': 3865,
   'path': 'División del Norte',
   'state': 'displayed',
   'name': 'División del Norte'},
  {'count': 3865,
   'path': 'Doctores',
   'state': 'displayed',
   'name': 'Doctores'},
  {'count': 3865,
   'path': 'Eduardo Molina',
   'state': 'displayed',
   'name': 'Eduardo Molina'},
  {'count': 3865,
   'path': 'Eje Central',
   'state': 'displayed',
   'name': 'Eje Central'},
  {'count': 3865,
   'path': 'Escuadrón 201',
   'state': 'displayed',
   'name': 'Escuadrón 201'},
  {'count': 3865, 'path': 'Etiopía', 'state': 'displayed', 'name': 'Etiopía'},
  {'count': 3865, 'path': 'Eugenia', 'state': 'displayed', 'name': 'Eugenia'},
  {'count': 3865,
   'path': 'Ferrería',
   'state': 'displayed',
   'name': 'Ferrería'},
  {'count': 3865,
   'path': 'Fray Servando',
   'state': 'displayed',
   'name': 'Fray Servando'},
  {'count': 3865,
   'path': 'General Anaya',
   'state': 'displayed',
   'name': 'General Anaya'},
  {'count': 3865,
   'path': 'Guelatao',
   'state': 'displayed',
   'name': 'Guelatao'},
  {'count': 3865,
   'path': 'Gómez Farías',
   'state': 'displayed',
   'name': 'Gómez Farías'},
  {'count': 3865,
   'path': 'Hangares',
   'state': 'displayed',
   'name': 'Hangares'},
  {'count': 3865,
   'path': 'Hospital General',
   'state': 'displayed',
   'name': 'Hospital General'},
  {'count': 3865,
   'path': 'Impulsora',
   'state': 'displayed',
   'name': 'Impulsora'},
  {'count': 3865,
   'path': 'Indios Verdes',
   'state': 'displayed',
   'name': 'Indios Verdes'},
  {'count': 3865,
   'path': 'Insurgentes',
   'state': 'displayed',
   'name': 'Insurgentes'},
  {'count': 3865,
   'path': 'Insurgentes Sur',
   'state': 'displayed',
   'name': 'Insurgentes Sur'},
  {'count': 3865,
   'path': 'Isabel la Católica',
   'state': 'displayed',
   'name': 'Isabel la Católica'},
  {'count': 3865,
   'path': 'Iztacalco',
   'state': 'displayed',
   'name': 'Iztacalco'},
  {'count': 3865,
   'path': 'Iztapalapa',
   'state': 'displayed',
   'name': 'Iztapalapa'},
  {'count': 3865,
   'path': 'Juanacatlán',
   'state': 'displayed',
   'name': 'Juanacatlán'},
  {'count': 3865, 'path': 'Juárez', 'state': 'displayed', 'name': 'Juárez'},
  {'count': 3865, 'path': 'La Paz', 'state': 'displayed', 'name': 'La Paz'},
  {'count': 3865, 'path': 'La Viga', 'state': 'displayed', 'name': 'La Viga'},
  {'count': 3865,
   'path': 'La Villa-Basilica',
   'state': 'displayed',
   'name': 'La Villa-Basilica'},
  {'count': 3865,
   'path': 'Lagunilla',
   'state': 'displayed',
   'name': 'Lagunilla'},
  {'count': 3865,
   'path': 'Lindavista',
   'state': 'displayed',
   'name': 'Lindavista'},
  {'count': 3865,
   'path': 'Lomas Estrella',
   'state': 'displayed',
   'name': 'Lomas Estrella'},
  {'count': 3865,
   'path': 'Los Reyes',
   'state': 'displayed',
   'name': 'Los Reyes'},
  {'count': 3865,
   'path': 'Lázaro Cárdenas',
   'state': 'displayed',
   'name': 'Lázaro Cárdenas'},
  {'count': 3865, 'path': 'Merced', 'state': 'displayed', 'name': 'Merced'},
  {'count': 3865,
   'path': 'Mexicaltzingo',
   'state': 'displayed',
   'name': 'Mexicaltzingo'},
  {'count': 3865,
   'path': 'Miguel A. de Q.',
   'state': 'displayed',
   'name': 'Miguel A. de Q.'},
  {'count': 3865,
   'path': 'Misterios',
   'state': 'displayed',
   'name': 'Misterios'}],
 'name': 'estacion'}

In [49]:
df_metro= pd.DataFrame(resp_metro_j['facet_groups'][2])
df_metro

                                               facets      name
0   {'count': 15460, 'path': 'Pantitlán', 'state':...  estacion
1   {'count': 11595, 'path': 'Chabacano', 'state':...  estacion
2   {'count': 11595, 'path': 'Tacubaya', 'state': ...  estacion
3   {'count': 7730, 'path': 'Atlalilco', 'state': ...  estacion
4   {'count': 7730, 'path': 'Balderas', 'state': '...  estacion
..                                                ...       ...
95  {'count': 3865, 'path': 'Lázaro Cárdenas', 'st...  estacion
96  {'count': 3865, 'path': 'Merced', 'state': 'di...  estacion
97  {'count': 3865, 'path': 'Mexicaltzingo', 'stat...  estacion
98  {'count': 3865, 'path': 'Miguel A. de Q.', 'st...  estacion
99  {'count': 3865, 'path': 'Misterios', 'state': ...  estacion

[100 rows x 2 columns]

In [50]:
df_metro_n = pd.json_normalize(df_metro['facets'])
df_metro_n

    count             path      state             name
0   15460        Pantitlán  displayed        Pantitlán
1   11595        Chabacano  displayed        Chabacano
2   11595         Tacubaya  displayed         Tacubaya
3    7730        Atlalilco  displayed        Atlalilco
4    7730         Balderas  displayed         Balderas
..    ...              ...        ...              ...
95   3865  Lázaro Cárdenas  displayed  Lázaro Cárdenas
96   3865           Merced  displayed           Merced
97   3865    Mexicaltzingo  displayed    Mexicaltzingo
98   3865  Miguel A. de Q.  displayed  Miguel A. de Q.
99   3865        Misterios  displayed        Misterios

[100 rows x 4 columns]

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [51]:
# your code here
df_metro_n.head()

   count       path      state       name
0  15460  Pantitlán  displayed  Pantitlán
1  11595  Chabacano  displayed  Chabacano
2  11595   Tacubaya  displayed   Tacubaya
3   7730  Atlalilco  displayed  Atlalilco
4   7730   Balderas  displayed   Balderas

In [52]:
df_metro_n.shape[0]

100

In [53]:
df_metro_n.dtypes

count     int64
path     object
state    object
name     object
dtype: object

In [57]:
# Top de las líneas del metro con menor afluencia
df_metro_n[['name', 'count']].sort_values(by=['count'], ascending=False).head()

                  name  count
0            Pantitlán  15460
2             Tacubaya  11595
1            Chabacano  11595
15  Inst. del Petróleo   7730
27              Zapata   7730

In [63]:
# Top de las líneas del metro con menor afluencia
df_metro_n[['name', 'count']].sort_values(by=['count']).head(5)

                    name  count
49  Cerro de la Estrella   3865
72              Ferrería   3865
71               Eugenia   3865
70               Etiopía   3865
69         Escuadrón 201   3865

In [78]:
# Estadísticos descriptivos
df_metro_n[['name', 'count']].describe()

           count
count    100.000
mean    5101.800
std     2189.133
min     3865.000
25%     3865.000
50%     3865.000
75%     7730.000
max    15460.000