## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=[]

n=80
n1=0
while n1 < n:
    n_random = random.randint(0,100)
    if n_random not in sample_list_1:
        sample_list_1.append(n_random)
        n1+=1
print('Longitud de lista:', len(sample_list_1))
print(sample_list_1)

Longitud de lista: 80
[54, 65, 27, 29, 34, 90, 56, 78, 76, 51, 93, 60, 53, 45, 11, 83, 85, 21, 69, 84, 49, 18, 66, 88, 2, 98, 1, 44, 37, 99, 8, 46, 47, 38, 17, 50, 3, 7, 67, 25, 22, 0, 32, 55, 23, 91, 95, 16, 52, 89, 87, 15, 86, 61, 43, 71, 4, 92, 70, 58, 73, 6, 39, 10, 33, 40, 12, 42, 26, 75, 19, 68, 14, 36, 28, 9, 81, 82, 100, 97]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)

print('Longitud del conjunto:', len(set1))
print(set1)

Longitud del conjunto: 80
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 29, 32, 33, 34, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 58, 60, 61, 65, 66, 67, 68, 69, 70, 71, 73, 75, 76, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(0,100))
    
print('Longitud de la lista:', len(sample_list_2))

Longitud de la lista: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print('Longitud del conjunto:', len(set2))
print(set2)
# La longitud no es la misma ya que set quita valores repetidos

Longitud del conjunto: 56
{0, 2, 3, 5, 7, 8, 9, 11, 13, 14, 16, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 33, 34, 35, 36, 37, 44, 45, 49, 54, 57, 60, 62, 63, 65, 66, 67, 68, 70, 71, 72, 74, 76, 81, 85, 86, 87, 88, 89, 90, 91, 93, 95, 98, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{1, 4, 6, 10, 12, 15, 17, 22, 26, 32, 38, 39, 40, 42, 43, 46, 47, 50, 51, 52, 53, 55, 56, 58, 61, 69, 73, 75, 78, 82, 83, 84, 92, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{35, 5, 72, 74, 13, 20, 62, 24, 57, 30, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 2, 3, 7, 8, 9, 11, 14, 16, 18, 19, 21, 23, 25, 27, 28, 29, 33, 34, 36, 37, 44, 45, 49, 54, 60, 65, 66, 67, 68, 70, 71, 76, 81, 85, 86, 87, 88, 89, 90, 91, 93, 95, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
56
35
11
45

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
set1.issubset(set2)

False

In [14]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
set3.union(set4,set5)
set3.union(set1,set2)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 95,
 97,
 98,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
print('Antes de borrar...')
print(set1)
print('Después de borrar...')
set1.pop()
print(set1)

Antes de borrar...
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 29, 32, 33, 34, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 58, 60, 61, 65, 66, 67, 68, 69, 70, 71, 73, 75, 76, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}
Después de borrar...
{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 29, 32, 33, 34, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 58, 60, 61, 65, 66, 67, 68, 69, 70, 71, 73, 75, 76, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_aux = set1.copy()
for i in set_aux:
    if i in list_to_remove:
        set1.remove(i)
        
print(set1)

{2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 25, 26, 27, 28, 32, 33, 34, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 58, 60, 65, 66, 67, 68, 70, 73, 75, 76, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 97, 98, 100}

In [18]:
##########################################