# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
# Ver el % de nulos por columna
salaries.isna().sum()/salaries.shape[0]*100

Name                  0.000000
Job Titles            0.000000
Department            0.000000
Full or Part-Time     0.000000
Salary or Hourly      0.000000
Typical Hours        75.824971
Annual Salary        24.175029
Hourly Rate          75.824971
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
# Your code here:
salaries['Salary or Hourly'].value_counts().to_frame()

        Salary or Hourly
Salary             25161
Hourly              8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [14]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [31]:
# Your code here:
import statsmodels.api as sm

# Select data 
data  = salaries['Hourly Rate'].loc[salaries['Salary or Hourly'] == 'Hourly']
des, p_value = sm.stats.ztest(data, value = 30, alternative = "two-sided")
p_value

1.8228873859286195e-94

In [32]:
alpha = 1- 0.95
p_value < alpha

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [34]:
# Select data 
data  = salaries['Annual Salary'].loc[salaries['Salary or Hourly'] == 'Salary']

In [35]:
des, p_value = sm.stats.ztest(data, value = 86000, alternative = "larger")
p_value

1.4884180821334978e-09

In [36]:
alpha = 1- 0.95
p_value < alpha

True

In [37]:
"""There is enought evidence to reject null hypothesis"""

'There is enought evidence to reject null hypothesis'

Using the `crosstab` function, find the department that has the most hourly workers.

In [44]:
# Your code here:
df_cross = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

df_cross[df_cross['Hourly'] == df_cross['Hourly'].max()]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [57]:
# Your code here:
# Select data 
data  = salaries['Hourly Rate'].loc[(salaries['Department'] == 'STREETS & SAN') 
                                    & (salaries['Salary or Hourly'] == 'Hourly')]

des, p_value = sm.stats.ztest(data, value = 35, alternative = "smaller")
p_value

5.478855641943434e-22

In [58]:
alpha = 1- 0.95
p_value < alpha

True

In [48]:
"""There is enought evidence to reject null hypothesis"""

'There is enought evidence to reject null hypothesis'

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [60]:
# Your code here:
from scipy import stats
data = salaries['Hourly Rate'].loc[salaries['Salary or Hourly'] == 'Hourly']
confidence_level = 0.95
degrees_freedom = data.size - 1
sample_mean = np.mean(data)
sample_standard_error = stats.sem(data)

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)
print(confidence_interval)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [61]:
# Your code here:
data = salaries['Annual Salary'].loc[salaries['Salary or Hourly'] == 'Salary']
confidence_level = 0.95
degrees_freedom = data.size - 1
sample_mean = np.mean(data)
sample_standard_error = stats.sem(data)

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)
print(confidence_interval)

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [62]:
# Your code here:
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].count()
total_workers = salaries.shape[0]

sm.stats.proportions_ztest(hourly_workers, total_workers, value = 0.25, alternative = 'two-sided')

(-3.5099964213703005, 0.0004481127249057967)

In [63]:
"""P value es menor a 0.05, existe evidencia suficiente para rechazar la hipotesis nula"""

'P value es menor a 0.05, existe evidencia suficiente para rechazar la hipotesis nula'